fastapi==0.115.0
uvicorn[standard]==0.30.6
qdrant-client==1.12.0
sentence-transformers==3.2.1
fastembed==0.8.0
requests==2.32.3
python-dotenv==1.0.1
ranx==0.3.21
streamlit==1.39.0
rq==2.1.0
psycopg2-binary==2.9.10
redis==5.2.0
